# зависимости и мусор
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# git
.git
.gitignore

# env
.env
.env.local
.env.production
.env.development

# next
.next/cache

# docker
Dockerfile
docker-compose.yml
compose.yaml

# os / editor
.DS_Store
.idea
.vscode
